.allcategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid white;
  width: 160px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.name {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4px;
}

.name:hover {
  color: gray;
}

@media only screen and (min-device-width: 768px) {
  .allcategories {
    margin: 0 2rem;
  }

  .card {
    width: 200px;
    height: 60px;
    margin: 6px;
    border-radius: 5px;
  }

  .name {
    font-size: 1rem;
    padding-top: 0;
  }
}
