.navbar {
  background: black;
  font-family: "Dosis";
  font-weight: 400;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.link {
  padding: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}
