.navbar {
  background: black;
  font-family: "Dosis";
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar img:hover {
  cursor: pointer;
}

.link {
  padding: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}
